@charset "UTF-8";
/* CSS Document */

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #30E0C9;
}

body{
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-weight: 100;
	line-height: 1.25;
	
	border-top: solid 10px #dc5d4a;
}

.wrapper{
	width: 978px;
	margin: 0 auto;
}

header h1{
	font-size: 93px;
	margin-top: 30px;
	text-align: center;
	text-transform: uppercase;
}

.morphext{
	font-weight: 300;
	color: #B9D8AE;
}


.bs-example{
	margin: 20px;
}

.gameImage {
	width:100%;
}

.gameName{
	text-align: center;
	font-weight: bold;
	font-size: 24px;	
}

h1{
	text-align: center;
	font-size: 50px;	
}
