    <div class="container">

<div class="row">
<div class="col-xl-12" >

<div class="jumbotron">
    <h1>Big Fish Games</h1>
    <p>Welcome to Big Fish Games Fan website :P This website gives reviews on Big Fish Games and what they are about and how great, or bad the game is.</p>
</div>

</div>
<main role="main" class="wrapper">
<div id="gallery">
                <ul>
                    <li>
                        <img src="images/picOne.jpg" width="960" height="640" alt=""/>
                    </li>
                    <li>
                       <img src="images/picTwo.jpg" width="960" height="640" alt=""/>
                    </li>
                    <li>
                        <img src="images/picThree.jpg" width="960" height="640" alt=""/>
                    </li>
                    <li>
                        <img src="images/picFour.jpg" width="960" height="640" alt=""/>
                    </li>
                    <li>
                        <img src="images/picFive.jpg" width="960" height="640" alt=""/>
                    </li>
                    <li>
                        <img src="images/picSix.jpeg" width="960" height="640" alt=""/>
                    </li>
                    <li>
                        <img src="images/picSeven.jpg" width="960" height="640" alt=""/>
                    </li>
                </ul>
            </div>
</main>


</div>
</div> <!-- This closes this container -->
